/* Loading-Screen */
.futuristic-header {
    font-family: 'Orbitron', sans-serif; /* Futuristic font */
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #F5511E99; /* Neon cyan color */
    animation: fadeIn 1s ease-in-out;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.loading-icon {
    width: 60px;
    height: 60px;
    border: 8px solid #F5511E;
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.loading-text p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInText 1s forwards;
}

.loading-text .fas {
    color:  #F5511E;
    font-size: 25px;
    margin-right: 10px;
}

#text1, #text2, #text3, #text4, #text5 {
    opacity: 0;
}

.futuristic-btn {
    padding: 15px 40px;
    background-color: #F5511E;
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin-top: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    opacity: 0;
    display: block;
    visibility: hidden; /* Initially hide the button */
}

.futuristic-btn:hover {
    background-color: #F5511E99;
    color: #FFF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Make button appear when ready */
.futuristic-btn {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}
