/* Body CSS */

body {
  background-color: rgb(27, 32, 37);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.text h2 {
  color: white;
  font-size: 25px;
  margin-left: 15px;
  padding: 2px;
}

.username h2 {
  color: white; 
  font-size: 25px;
  margin-left: 15px;
}

.content {
  background-color: #3a3b3c;
  height: 500px;
  border-radius: 10px;
  width: 390px;
  margin: auto;
  margin-bottom: 5px;
}

/* Skills */

.upload-txt {
  font-size: 20px;
  font-weight: bold;
  color: #f5511e;
  text-align: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px 10px;
  border-radius: 8px;
  position: relative;
  background-color: #f5511e99;
}

.skill-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.skill-item.selected {
  background-color: #f5511e;
}

.delete-button {
  position: absolute; 
  top: 5px; 
  right: 5px; 
  background: none; 
  border: none; 
  cursor: pointer; 
  z-index: 1;
}

.skill-icon {
  width: 50px; 
  height: 50px; 
}

.skill-display {
  position: relative; 
  display: inline-block; 
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.skill-icon {
  width: 30px;
  height: 30px;
}

.grid-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 5px;
  margin-top: 30px;
  gap: 5px;
  max-height: 170px; 
  overflow-y: auto; 
  padding-right: 5px;
}

.skill-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.skill-icon {
  width: 50px; 
  height: 50px;
}

/* Profession */

.grid-professions {
  margin-top: 20px;
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  padding: 20px; 
  transition: transform 0.3s ease, height 0.3s ease;
}

.professions-text {
  color: #f5511e;
  font-weight: bold;
}

.professions-display {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  scroll-snap-align: start; 
  min-width: 230px; 
  transition: transform 0.2s;
}

.professions-display:hover {
  transform: scale(1.05);
}

.professions-display img {
  width: 270px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.professions-item:hover {
  transform: scale(1.05);
}

.professions-item p {
  margin: 8px 0;
}

.grid-profession {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5px;
  margin-top: 30px;
  gap: 5px;
  overflow-y: auto;
}

.profession-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px 10px;
  border-radius: 8px;
  position: relative;
  background-color: #f5511e99;
}

.profession-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profession-item.selected {
  background-color: #f5511e;
}


.profession-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.profession-icon {
  width: 100px; 
  height: auto;
  border-radius: 10px;
}

.profession-icon {
  max-width: 100%;
  max-height: 100%;
}

.profession-text {
  color: white;
}


/*  Profilepic */

.page {
  margin: 0;
  background-image: url("https://i.pinimg.com/564x/d0/64/5a/d0645a0ce8178eea07e699158cc4f7d0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-bottom: 20px;
}

.about-image img {
  display: block;
  margin: auto;
  border-radius: 150px;
  width: 200px;
  height: 200px;
  position: relative;
  margin-bottom: 40px;
  top: 30px; 
}


/*  Aboutme */

#aboutMeDisplay {
  margin-top: 5px;
  margin-left: 50px;
  color: white;
}
.container {
  height: auto;
}

.section h1 {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 30px;
}

#aboutMeText {
  width: 290px;
  height: 180px;
  color: #f5511e;
}

.aboutbutton {
  margin-top: 10px;
  margin-left: 130px;
  align-items: center;
  color: #f5511e;
}
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: lightgray;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 320px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-radius: 20px;
  border: 3px solid #f5511e;
  overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.button-container{
  justify-content: center;
  display: flex;
}
.submit-button {
  margin-top: 10px;
  background-color: #f5511e;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff; 
  text-align: center; 
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Main-Header */

.image img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px; 
}

.input-icon-wrapper i {
  position: absolute;
  left: 23px;
  top: 5px;
  color: #f5511e;
}

#userSearchInput {
  width: 200px;
  margin-left: 18px;
  padding: 5px;
  padding-left: 30px; 
  background-position: 10px center; 
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 60px;
  margin-right: 50px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
}
.search-results p {
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.search-results .user-result {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ddd; 
}

.search-results .user-result:hover {
  background-color: #f0f0f0; 
}

.user-image {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.menu-button .fa {
  font-size: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 5px; 
  color: #f5511e;
  transition: transform 0.3s ease;
  font-size: 35px;
}

.fas {
  color: #f5511e;
}

.menu-content {
  display: none; 
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  width: 150px;
  height: 120px;
}

.menu-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #f5511e;
}

.navbar {
  width: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: lightgray;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


/* Project CSS */

.project-link {
  text-decoration: none;
}
.project-grid {
  margin-top: 20px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  gap: 10px; 
  padding: 20px;
  transition: transform 0.3s ease, height 0.3s ease;
}

.project-text {
  color: #f5511e;
}

.project-item {
  position: relative;
  background-color: lightgray;
  padding: 25px 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: start;
  min-width: 250px;
  transition: transform 0.2s;
}

.floating-button {
  position: absolute;
  top: 5px;
  bottom: 350px;
  right: 0px; 
  z-index: 10; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.floating-button button i {
  color: red;
  font-size: 30px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.project-item img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item p {
  margin: 8px 0;
}

.project-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.project-overlay-content {
  background: #fff;
  color: #f5511e;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  text-align: center;
}

.project-overlay-content img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.delete-button {
  position: absolute;
  top: 0px; 
  right: 0px; 
  background: none; 
  border: none; 
  cursor: pointer; 
  z-index: 1;
}


/* Modal Overlay */

.btn {
  margin-left: 15px;
}

.info {
  text-align: center;
  margin-bottom: 15px;
}

.modal-overlays {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.modal-overlays.show {
  opacity: 5;
  visibility: visible;
}
.modal-contents {
  position: fixed;
  bottom: 0;
  background-color:  lightgray;
  padding: 20px;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  height: 500px;
  border-color: #f5511e;
}

.modal-contents.show {
  transform: translateY(0);
}
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.input-container label {
  margin-right: 10px;
  flex: 1;
  text-align: right;
  width: 80px;
}
.input-container .icon {
  margin-right: 10px;
  font-size: 1.5rem;
}
.input-field {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-overlays.show .modal-contents {
  transform: translateY(0);
}

.product-imageModal img {
  width: 80px;
  height: 80px;
  margin-left: 145px;
}

.close-button {
  background: #f5511e;
  border-radius: 10%;
  width: 100px;
  cursor: pointer;
  padding: 3px;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  transition: color 0.3s ease;
}

.contact {
  margin-top: 20px;
}

.contact-container{
  max-height: 200px;
  overflow: auto;
}

.contact i {
  color: #f5511e;
  margin-right: 8px;
  margin-left: 20px;
}
